.container {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #e9efff;
}

.modal__layover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(128, 128, 128, 0.5);
}

@media screen and (min-width: 540px) {
  .container {
    display: flex;
  }
}
