.main {
  min-height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 60rem;
}

@media screen and (min-width: 720px) {
  .main {
    flex: 1 1 80%;
  }
}
